




    <div class="row">
      <div class="col-lg-4 col-sm-6 order-sm-2 order-lg-2">
        <div class="h-100">
          <!-- <img src="../../assets/images/compound2.jpg" class="w-100 h-100 rounded-5 img-fluid" alt=""> -->
        </div>
      </div>
      <div class="col-lg-4 mb-sm-5 col-sm-12 order-sm-1 order-lg-2">
        <div class="about2 text-center">
          <h2 class="fw-bold display-5 mt-5 mb-4">About us</h2>
          <h2 class="fw-bold display-6 sec-color mt-2 text-white">Welcome to <span>Compound Development</span></h2>
          <p class="mb-5 text-white">We Provide Best Compound Packages In Your Budget!</p>
          <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus optio maxime voluptatibus impedit eaque
            perferendis omnis incidunt dolorum corporis voluptatem, alias hic dicta libero veritatis rerum praesentium
            similique at itaque?</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 order-sm-3 order-lg-3">
        <div class="h-100">
          <!-- <img src="../../assets/images/compound2.jpg" class="w-100 h-100 rounded-5 img-fluid" alt=""> -->
        </div>
      </div>
    </div>
 